<body>
<h3> BGCOLOR and FGCOLOR Demo</h3>
<input type="button" value="change" onclick="document.bgColor='cyan';">
<input type="button" value="change fg color" onclick="document.fgColor='cyan';">
</body>